.filmList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 8px;
    padding: 8 px;
    }
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border: 0.2em solid;
}
